.container {

}

div {
	
}

.magazine {
	font-family: serif;
	font-weight: 400;
	position: absolute;
}

/*Left Sidebar*/
.sidebar-left {
	border-right: solid 2px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 125px;



}

#logo {
	margin-top: 35px;
	margin-bottom: 20px;
	margin-left: 52;

}

#logo img {
	background: transparent;
	float: right;
	margin-right: 15px;
	width: 42px;
	height: 42px;
}

#nav-list {

}

/*middle-left */
.middle-left {
	border-right: solid 2px;
	margin-left: 125px;
	float: left;
	width: 57%;
	font-size: 20px;
}

#title-home {

}

#featured {

}

#article-title {

}

#article-author {

}

#indent {

}




/*middle-right */
.middle-right {
	border-right: solid 2px;
	width: 30%;
	margin-left: 800px;

}

.title-rightside {

}




/*Right Sidebar*/
.sidebar-right {
	width: 5%;
	float: right;

}

/*footer*/
.footer {
	clear: both;
	border: dashed 2px;
	margin: 0;
	width: 100%;
	position: relative;
	float: bottom;
}

