

div {
	
}

.magazine {
	font-family: serif;
	font-weight: 400;

}

/*Left Sidebar*/
.sidebar-left {
	border-right: solid 2px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 125px;

}

#logo {
	margin-top: 35px;
	margin-bottom: 20px;
	margin-left: 52;

}

#logo img {
	background: transparent;
	float: right;
	margin-right: 15px;
	width: 42px;
	height: 42px;
}

#nav-list {

}

/*middle*/
.middle {
	

}

.middle-left {
	border-right: solid 2px;
	margin-left: 125px;
	float: left;
	width: 675px;
	font-size: 18px;

}

#title-home {

}

#featured {
	
}

#article-title {

}

#article-author {

}

#indent {

}



.middle-right {
	margin-top: 50px;
	border-right: solid 2px;
	width: 300px;
	margin-left: 825px;

}

.title-rightside {

}




/*Right Sidebar*/
.sidebar-right {
	border: 2px;
	position: fixed;
	right: 0;
	top: 0;
	width: 75px;
	height: 100%;

}

/*footer*/
.footer {
	clear: both;
	border: solid grey 2px;
	margin: 0;
	width: 100%;
	position: relative;
	bottom: 0;
	float: bottom;
}

